body{
  font-size: 0.8em;
  line-height: 2em;
  margin: 3em;
  margin-top: 1em;
  background-color: black;
}
#header,#content,#footer{
  max-width:1024px;
  margin: auto;
}
#header,#footer{
  text-align: center;
}
#header img,#rule img{
  width: 100%;
  height: auto;
}
#header img{
  max-width: 899px;
}
#rule img{
  max-width: 400px;
}
#content{
  background-color: white;
}
#content>div{
  padding: 1em;
}
ul{
  margin-left: 3.5em;
  list-style: disc;
}
h1,h2,h3,h1+p{ font-weight: bolder; }
h1{
  font-size: 1.3em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background-color:rgb(240,240,255);
}
h1>span{
  font-size: 0.7em;
  color: #666;
}
h1+div{
  padding-top: 1em;
}
h2{
  cursor: pointer;
  background-color:rgb(221,215,221);
}
h2,h3{
  font-size: 1.1em;
  line-height: 2.5em;
  border-bottom:1px dotted #333333;
  padding-left: 1em;
}
#rule>div {
  display: table-cell;
  width:100%;
  text-align:center;
  line-height: 1em;
  padding-bottom: 1.5em;
}
#list{
  margin-top: 1em;
  margin-bottom: 2em;
}
#footer{
  border-top:1px dotted #AAA;
  margin-top: 1.2em;
  padding-top: 0.3em;
  color: #AAA;
  padding-bottom:1em;
}
.update_info{
  color: #444
}
#last_update{
  margin-bottom: 0.5em;
}
a{
  color: rgb(20,105,20);
}
.base,.message,.map,.system,.battle,.menu,.others,.update{
  padding-top: 1em;
  padding-bottom: 1em;
}
.base,.message,.map,.system,.battle,.menu,.others{
  display: none;
}
@media screen and (max-width: 400px) {
  ul{ margin-left: 1em; }
  .base,.message,.map,.system,.battle,.menu,.others{ display: block; }
}