p{
  cursor: default;
}
#loading{
  width:900px;
  height: 500px;
  text-align: center;
  margin: auto;
}
#loading > img{
  position: relative;
  left: -16px;
  top:233px;
}
#viewport{
  margin: auto;
  width:900px;
  height: 500px;
  box-shadow: 0px 0px 8px;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  display: none;
}
#loading_bulb{
  position: absolute;
  background-image: url(img/bulb.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 81px;
  height: 85px;
  display: none;
  right: 30px;
  top:40px;
  transition: top 300ms;
}
.loading_bulb{
  top:30px !important;
}
#loading_bulb > img{
  position: absolute;
  top:18px;
  left: 23px;
}
#content{
  position: relative;
  height:100%;
  width:100%;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(img/back/0.jpg);
  background-color: white;
  font-family: "微软雅黑","文泉驿微米黑","黑体","SimHei",Arial;
}
#hint_area{
  position: absolute;
  top: 1em;
  left: 1em;
  display: none;
}
#content_area{
  position: absolute;
  top: 0em;
}
#error_area{
  height: 500px;
  text-align: center;
  vertical-align:middle;
  display:table-cell;
  position: absolute;
  left: 1.5em;
  top:5em;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
  display: none;
}

#url_list{
  position: relative;
  left: 3.5em;
  height: 500px;
  text-align: center;
}
#url_list a {
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}
#url_list a:hover{
  color: #f33;
}
#url_list > div:first-child {
  height: 9em;
}
#url_list > a + div {
  height: 3em;
}
#url_list p {
  line-height: 0.1em;
  margin-top: 20px;
  color: grey;
}
#game_ad{
  width: 50em;
  position: relative;
  top:-4.2em;
  left: 2em;
  color: white;
}
#game_ad button,#game_ad button:focus{
  background-color:black;
  background-color:transparent;
  color:white;
  height:35px;
  width:90%;
  border-width:1px;
  border-bottom-style:solid;
  border-right-color:white;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0.5em;
  cursor:pointer;
  outline: none;
  border-radius: 5px;
  transition: all 300ms;
}
#game_ad button:hover{
  color:black;
  background-color:white;
}
#game_ad > table{
  text-align: left;
  position: absolute;
  top:130px;
  left: 3em;
}
#game_ad .game_content{
  display: none;
  line-height: 1em;
  width: 28em;
  font-size: 0.9em;
}
#game_ad .game_content .img{
  text-align: center;
}
@keyframes game_ad_effect{ 50% { box-shadow: 0px 0px 10px 0px #000;} }
@-moz-keyframes game_ad_effect{ 50% { box-shadow: 0px 0px 10px 0px #000;} }
@-webkit-keyframes game_ad_effect{ 50% { box-shadow: 0px 0px 10px 0px #000;} }
@-o-keyframes game_ad_effect{ 50% { box-shadow: 0px 0px 10px 0px #000;} }
#game_ad img:hover{
  box-shadow: 0px 0px 0px 0px #000;
  animation: game_ad_effect 1s ease;
  -webkit-animation: game_ad_effect 1s ease;
  -moz-animation: game_ad_effect 1s ease;
  -o-animation: game_ad_effect 1s ease;
}
#game_ad .game_content p{
  margin-left: 0.5em;
}
#game_ad .game_content > h1{
  font-size: 0.9em;
  font-weight: normal;
}
#hire_info{
  width:32.5em;
  padding-left: 2.5em;
  line-height: 2em;
}
#hire_info div{
  height: 4em;
}
#hire_info h1{
  border-bottom: 1px dotted;
  padding-bottom: 0.2em;
}
#hire_info span{
  moz-user-select: -moz-auto;
  -moz-user-select: auto;
  -o-user-select:auto;
  -khtml-user-select:auto;
  -webkit-user-select:auto;
  -ms-user-select:auto;
  border-bottom: 1px dotted;
  cursor:text;
}
#hire_info span::selection{
  border-radius: 5px;
  background-color: red;
  color: #FFF;
}
#hire_info span::-moz-selection{
  background-color: red;
  color: #FFF;
}
#link_area{
  position: absolute;
  bottom:10px;
  left:20px;
}
#link_area img{
  margin-right: 1.5em;
  cursor: pointer;
  margin-bottom: 0px;
  transition: all 300ms;
  opacity: 0.6;
}
#link_area img:hover{
  opacity: 1.0;
}
#footer{
  text-align: center;
  font-family: Arial;
  font-size: 0.7em;
  margin-top: -0.3em;
  color: grey;
}