p{
  cursor: default;
}
#loading{
  width:900px;
  height: 500px;
  text-align: center;
}
#loading > img{
  position: relative;
  left: -16px;
  top:233px;
}
#viewport{
  margin: auto;
  width:900px;
  height: 500px;
  box-shadow: 0px 0px 8px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  display: none;
}
#loading_bulb{
  position: absolute;
  background-image: url(img/bulb.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 81px;
  height: 85px;
  display: none;
  right: 30px;
  top:30px;
}
#loading_bulb > img{
  position: absolute;
  top:18px;
  left: 23px;
}
#content{
  position: relative;
  height:100%;
  width:100%;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(img/back/0.jpg);
  background-color: white;
  font-family: "微软雅黑","文泉驿微米黑","黑体","SimHei",Arial;
}
#hint_area{
  position: absolute;
  top: 1em;
  left: 1em;
  display: none;
}
#content_area{
  position: absolute;
  top: 0em;
}
#error_area{
  height: 500px;
  text-align: center;
  vertical-align:middle;
  display:table-cell;
  position: absolute;
  left: 1.5em;
  top:5em;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
  display: none;
}
#scroll_bar{
  position: absolute;
}
#scroll_bar > div:first-child{
  position: relative;
  background-color:rgb(223,229,165);
  width: 4px;
  height:20em;
  left: 2px;
  cursor: pointer;
}
#scroll_bar > div:first-child + div{
  position: absolute;
  top: 13px;
  background-color:rgb(195,203,144);
  width: 8px;
  cursor: pointer;
}
#url_list{
  position: relative;
  left: 3.5em;
  height: 500px;
  text-align: center;
}
#url_list a {
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}
#url_list > div:first-child {
  height: 9em;
}
#url_list > a + div {
  height: 3em;
}
#url_list p {
  line-height: 0.1em;
  margin-top: 20px;
  color: grey;
}
#game_ad{
  width: 50em;
  position: relative;
  top:-4.0em;
  left: 2em;
  color: white;
}
#game_ad button{
  background-color:black;
  color:white;
  height:35px;
  width:90%;
  border-width:1px;
  border-bottom-style:solid;
  border-right-color:white;
  margin-left: 5%;
  margin-right: 5%;
}
#game_ad > table{
  text-align: left;
  position: absolute;
  top:130px;
  left: 3em;
}
#game_ad .game_content{
  display: none;
  line-height: 1em;
  width: 28em;
  font-size: 0.9em;
}
#game_ad .game_content .img{
  text-align: center;
}
#game_ad .game_content p{
  margin-left: 0.5em;
}
#game_ad .game_content > h1{
  font-size: 0.9em;
  font-weight: normal;
}
#update_list_area{
  position: absolute;
  top:4.4em;
  left: 2em;
}
#update_list{
  position: absolute;
  height: 20em;
  left:2em;
  overflow: hidden;
  width: 33.5em;
  font-size: 1em;
}
#update_list p{
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px dotted;
}
#update_list a{
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  font-weight: normal;
}
#update_list h2{
  font-size: 0.8em;
  font-weight: normal;
  text-decoration: none;
  color: grey;
  margin-left: 2em;
}
#update_time{
  margin-top: 0.1em;
}
#article_area{
  position: absolute;
  top:4.4em;
  left: 2em;
}
#article{
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: absolute;
  height: 20em;
  left:2em;
  overflow: hidden;
  width: 32.5em;
}
#article h1{
  font-size: 1.5em;
  border-bottom: 1px dotted;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  margin-top: 0.1em;
}
#article p{
  font-size: 0.9em;
  text-indent:1.5em;
  line-height: 2em;
}
#article img{
  width: 90%;
  box-shadow: 0px 0px 8px;
}
#article .img{
  width: 95%;
  text-align: center;
}
#article .sh_ruby{
  box-shadow: 0px 0px 10px;
  moz-user-select: -moz-auto;
  -moz-user-select: auto;
  -o-user-select:auto;
  -khtml-user-select:auto;
  -webkit-user-select:auto;
  -ms-user-select:auto;
  padding-left: 1.5em;
  line-height: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#hire_info{
  width:32.5em;
  padding-left: 2.5em;
  line-height: 2em;
}
#hire_info div{
  height: 4em;
}
#hire_info h1{
  border-bottom: 1px dotted;
  padding-bottom: 0.2em;
}
#hire_info span{
  moz-user-select: -moz-auto;
  -moz-user-select: auto;
  -o-user-select:auto;
  -khtml-user-select:auto;
  -webkit-user-select:auto;
  -ms-user-select:auto;
  border-bottom: 1px dotted;
}
#link_area{
  position: absolute;
  bottom:10px;
  left:20px;
}
#link_area img{
  margin-right: 1.5em;
  cursor: pointer;
}
#footer{
  text-align: center;
  font-family: Arial;
  font-size: 0.7em;
  margin-top: -0.3em;
  color: grey;
}