#content{ display: none; }
#rule img{
  opacity: .8;
  transition: all 0.1s;
}
#rule img:hover{ opacity: 1.0; }
#rule .image-list{
  text-align: center;
  margin: 1em 0;
}
#rule .image-list img{
  width: auto;
  max-width: 100%;
}
#rule .rule-list li{
  text-indent: 2em;
  list-style: circle inside;
}

#list .update_hint{
  color: white;
  background-color: #D25555;
  border-radius: 6px;
  box-shadow: 0px 0px 10px #EAF5FF;
  padding: .5em 1.5em;
  transition: all 0.2s;
  cursor: pointer;
  display: none;
}
#list .update_hint .update_time{ margin-right: 1em; }
#list .update_hint:hover{ background-color: #FF8D68; }
#list .update_hint p.hover{ display: none; }
#list .update_hint:hover p.no-hover{ display: none; }
#list .update_hint:hover p.hover{ display: inline; }
#list .script-list{ display: none }
#list .show_area.card{ margin: 1.5em 0em; }
#list .show_area.card ul{ line-height: 3; }
#list .show_area .update_info{
  font-size: 0.9em;
  color: #999;
  margin-left: .5em;
}
@media screen and (max-width: 1050px) {
  #rule .rule-list li{ text-indent: 0em; }
}
@media screen and (max-width: 600px) {
  #rule img, #list .update_hint{ transition: none; }
}