/* highlight theme */
.hljs-comment,.hljs-quote{color:#5D8F50}.hljs-deletion,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable{color:#c66}.hljs-built_in,.hljs-builtin-name,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type{color:#de935f}.hljs-attribute{color:#f0c674}.hljs-addition,.hljs-bullet,.hljs-string,.hljs-symbol{color:#b5bd68}.hljs-section,.hljs-title{color:#FF6A51}.hljs-keyword,.hljs-selector-tag{color:#A2A5E7}.hljs{display:block;overflow-x:auto;background:#171F32;color:#c5c8c6;padding:2em;line-height:2;}
@media screen and (max-width: 600px) { .hljs{padding: 1em;} }

.code{
  background-color: #0C031A;
  border-radius: 10px;
  margin: 1em 0;
  overflow: hidden;
}
.code-action{
  padding: .5em 1.5em;
  border: 0px solid #3B4254;
}
.code-action .button{
  cursor: pointer;
  color: #ddd;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 2em;
}
.code-action .hint{
  display: inline-block;
  padding-left: .5em;
  color: #999;
  font-size: .9em;
}

.code-action.copy-code{ border-bottom-width: 1px; }
.code-action.copy-code .button{ background-image: url('../img/script_copy.svg'); }
.code-action.copy-code .hint p{ display: none; }
.code-action.open-code{
  text-align: right;
  border-top-width: 1px;
}
.code-action.open-code .button{ background-image: url('../img/script_open.svg'); }